In [1]:
import pandas as pd

In [75]:
df_questao_1 = pd.read_csv('questao_1.csv', index_col='num_compra')
df_questao_2 = pd.read_csv('questao_2.csv', index_col='Loja')

## Primeira Consulta: Quem mais vendeu em tal unidade

Devido a certa ambiguidade na consulta solicitada, serão utilizadas duas aborgadens.

Abordagem 1: Dada uma unidade como entrada, qual vendedor teve maior número de vendas nela.

Abordagem 2: Para cada unidade, qual vendedor teve maior número de vendas.

Ideias adicionais:

    - Top 5 vendedores por unidade
    - Top 5 vendedores por valor de venda

### Abordagem 1

In [104]:
unidade_consultada = 'Loja Manoa'

In [105]:
def top_vendedor_unidade(df, unidade_consultada):
    
    # Seleciona as instâncias correspondentes à unidade solicitada
    df_unidade = df[df['Filial'] == unidade_consultada]

    # Extrai o ID dos vendedores
    vendedores = df_unidade['usuario'].unique()

    # Cria uma lista de tuplas no formato (quantidade de vendas do vendedor, ID do vendedor) e ordeno a lista de forma decrescente com base na quantidade de vendas
    rank = sorted([(df_unidade[df_unidade['usuario'] == vendedor].shape[0], vendedor) for vendedor in vendedores], key=lambda x: -x[0])

    resultado = {
        'Nome' : df_unidade[df_unidade['usuario'] == rank[0][1]]['nome'].unique(),
        'Usuário' : rank[0][1],
        'Total de Vendas': rank[0][0]
    }

    # Seleciona as colunas de Nome e Usuario que correspondem ao identificador do vendedor que é o primeiro da lista
    df_resultado = pd.DataFrame(resultado)

    return df_resultado

In [106]:
top_vendedor_unidade(df_questao_1, unidade_consultada)

         Nome  Usuário  Total de Vendas
0  Alessandra   465620               93

### Abordagem 2

In [112]:
def top_vendedores_todas_unidades(df):
    unidades = df['Filial'].unique()
    vendedores = df['usuario'].unique()
    top_vendedores = []
    
    vendas = []
    vendedores_resultado = []

    for unidade in unidades:
        df_unidade = df[df['Filial'] == unidade]
        top_vendedores.append(sorted([(df_unidade[df_unidade['usuario'] == vendedor].shape[0], vendedor) for vendedor in vendedores], key=lambda x: -x[0])[0])
        

    usuarios = [vendedor[1] for vendedor in top_vendedores]
    vendas = [vendedor[0] for vendedor in top_vendedores]
    vendedores_resultado = [df[df['usuario'] == vendedor[1]]['nome'].unique()[0] for vendedor in top_vendedores]

    resultado = {
        'Nome' : vendedores_resultado,
        'Usuário' : usuarios,
        'Total de Vendas' : vendas,
        'Unidade' : unidades
    }

    df_resultado = pd.DataFrame(resultado)

    return df_resultado

In [113]:
top_vendedores_todas_unidades(df_questao_1)

         Nome  Usuário  Total de Vendas              Unidade
0      Marina   466205               78  Loja Armando Mendes
1  Alessandra   465620               93           Loja Manoa
2     Giselle   842680               54     Loja Cachoerinha

## Segunda Consulta: venda por vendedor(nome)

Abordagem 1: Total de vendas por vendedor. A consulta será feita por nome, porém assumindo que há vendedores com nomes repetidos e que possuem usuários diferentes,
será feita uma lista com o total de vendas de cada vendedor com o nome solicitado que possui um usuário diferente.

Abordagem 2: Vendas feitas por vendedores com o nome solicitado

In [125]:
vendedor_procurado = 'Daniel'

In [126]:
def consulta_vendedor(df, vendedor_procurado):
    vendedores = df[df['nome'] == vendedor_procurado]['usuario'].unique()
    vendas_vendedor = [(df[df['usuario'] == vendedor].shape[0], vendedor) for vendedor in vendedores]
    total_vendas = [x[0] for x in vendas_vendedor]
    vendedor = [x[1] for x in vendas_vendedor]
    nome = [vendedor_procurado for x in vendas_vendedor]

    dicionario = {
        'Total de Vendas' : total_vendas,
        'Usuario' : vendedor,
        'Nome' : nome 
    }

    df_total_vendas = pd.DataFrame(dicionario)

    return df_total_vendas

In [127]:
consulta_vendedor(df_questao_1, vendedor_procurado)

    Total de Vendas  Usuario    Nome
0                 3      295  Daniel
1                 3    30646  Daniel
2                 1    35553  Daniel
3                 1    40859  Daniel
4                 9    56424  Daniel
5                12    66657  Daniel
6                 3   114728  Daniel
7                 1   139130  Daniel
8                 3   219436  Daniel
9                 6   285290  Daniel
10                6   287073  Daniel
11                2   300326  Daniel
12                1   597541  Daniel
13                1   617967  Daniel
14                7   637896  Daniel
15               17   654863  Daniel
16                1   658588  Daniel
17                1   663398  Daniel
18                1   686130  Daniel
19                8   702315  Daniel
20               12   721483  Daniel
21                1   731584  Daniel
22                2   834414  Daniel
23               25   916961  Daniel
24                2   929262  Daniel
25                2   961503  Daniel

In [128]:
def consulta_vendas_por_vendedor(df, vendedor_procurado):
    return df[df['nome'] == vendedor_procurado]

In [129]:
consulta_vendas_por_vendedor(df_questao_1, vendedor_procurado)

,usuario,nome,dados,Filial,data_compra,valor_compra,Imposto,Informado sobre imposto?
num_compra,,,,,,,,
24937847,295,Daniel,12,Loja Armando Mendes,2019-01-06 11:53:01,R$129.12,R$2.60,Sim
23600787,295,Daniel,12,Loja Manoa,2019-06-01 17:27:11,R$95.96,R$1.94,Sim
24298956,295,Daniel,12,Loja Manoa,2019-06-22 16:40:21,R$506.05,R$10.21,Sim
21988407,30646,Daniel,12,Loja Manoa,2019-05-03 20:01:44,R$157.21,R$3.17,Não informado
25154958,30646,Daniel,12,Loja Manoa,2019-01-10 19:49:02,R$23.46,R$0.47,Não informado
...,...,...,...,...,...,...,...,...
22762448,916961,Daniel,12,Loja Armando Mendes,2019-05-19 13:05:01,R$132.64,R$2.67,Sim
21852745,929262,Daniel,12,Loja Manoa,2019-05-01 12:14:49,R$161.99,R$3.27,Sim
21852840,929262,Daniel,12,Loja Manoa,2019-05-01 12:17:40,R$84.68,R$1.71,Sim
22432445,961503,Daniel,12,Loja Manoa,2019-05-12 11:54:01,R$11.96,R$0.24,Sim
25883085,961503,Daniel,12,Loja Manoa,2019-01-24 19:01:10,R$57.90,R$1.17,Sim

## Terceira Consulta: produto mais vendido

Ranking dos produtos mais vendidos, com a quantidade vendida e o valor total vendido

In [138]:
def preco_para_int(df):
    df['valor_total'] = df['valor_total'].replace('[R\$\s]', '', regex=True).astype(float)
    return df

In [139]:
def top_produtos(df):
    produtos = df['produto'].unique()

    total_produto = []

    for produto in produtos:
        total_produto.append((df[df['produto'] == produto]['quantidade'].sum(), 
                                produto, 
                                df[df['produto'] == produto]['valor_total'].sum()))

    total_produto = sorted(total_produto, key= lambda x: -x[0])

    vendas = []
    top_produtos = []
    valor_total = []

    for tup in total_produto:
        vendas.append(tup[0])
        top_produtos.append(tup[1])
        valor_total.append(tup[2])

    dic = {
        'Produto' : top_produtos,
        'Total de Vendas': vendas,
        'Valor total' : valor_total
    }

    df_top_produtos = pd.DataFrame(dic, index=range(1,len(top_produtos)+1))

    return df_top_produtos

In [140]:
df = preco_para_int(df_questao_2)
top_produtos(df)

        Produto  Total de Vendas  Valor total
1       Açaí 1L              788      7260.93
2  Açaí 1L Zero              485      3175.78