In [1]:
import pandas as pd

In [75]:
df_questao_1 = pd.read_csv('questao_1.csv', index_col='num_compra')
df_questao_2 = pd.read_csv('questao_2.csv', index_col='Loja')

## Primeira Consulta: Quem mais vendeu em tal unidade

Devido a certa ambiguidade na consulta solicitada, serão utilizadas duas aborgadens.

Abordagem 1: Dada uma unidade como entrada, qual vendedor teve maior número de vendas nela.

Abordagem 2: Para cada unidade, qual vendedor teve maior número de vendas.

Ideias adicionais:

    - Top 5 vendedores por unidade
    - Top 5 vendedores por valor de venda
    - Verificar média de valor de venda por vendedor e fazer boxplot

### Abordagem 1

In [105]:
def top_vendedor_unidade(df, unidade_consultada):
    """ Função que busca o vendedor com maior número de vendas em determinada unidade e retorna um dataframe com os dados desse vendedor.

    Parâmetros
    -------------
    df : pandas.DataFrame
        Dataframe com os dados dos vendedores
    
    unidade_consultada : str
        Unidade a ser consultada à procura de seu melhor vendedor
    
    Retorna
    -------------
    df_resultado : pandas.DataFrame
        Dataframe com nome, usuário e total de vendas feitas pelo vendedor com maior número de vendas na unidade solicitada.
    """

    # Seleciona as instâncias correspondentes à unidade solicitada
    df_unidade = df[df['Filial'] == unidade_consultada]

    # Extrai o ID dos vendedores
    vendedores = df_unidade['usuario'].unique()

    # Cria uma lista de tuplas no formato (quantidade de vendas do vendedor, ID do vendedor) e ordeno a lista de forma decrescente com base na quantidade de vendas
    rank = sorted([(df_unidade[df_unidade['usuario'] == vendedor].shape[0], vendedor) for vendedor in vendedores], key=lambda x: -x[0])

    resultado = {
        'Nome' : df_unidade[df_unidade['usuario'] == rank[0][1]]['nome'].unique(),
        'Usuário' : rank[0][1],
        'Total de Vendas': rank[0][0]
    }

    # Seleciona as colunas de Nome e Usuario que correspondem ao identificador do vendedor que é o primeiro da lista
    df_resultado = pd.DataFrame(resultado)

    return df_resultado

In [155]:
# ADICIONE AQUI A UNIDADE QUE DESEJA CONSULTAR
unidade_consultada = 'Loja Manoa'

In [156]:
top_vendedor_unidade(df_questao_1, unidade_consultada)

         Nome  Usuário  Total de Vendas
0  Alessandra   465620               93

### Abordagem 2

In [112]:
def top_vendedores_todas_unidades(df):
    """ Função que busca o vendedor com maior número de vendas em cada unidade separadamente e retorna um dataframe com os vendedores por unidade.

    Parâmetros
    -------------
    df : pandas.DataFrame
        Dataframe com os dados dos vendedores
    
    Retorna
    -------------
    df_resultado : pandas.DataFrame
        Dataframe com nome, usuário, total de vendas e a unidade de cada vendedor com maior número de vendas por unidade.
    """

    # Extrai as unidade
    unidades = df['Filial'].unique()

    # Extrai os vendedores
    vendedores = df['usuario'].unique()

    top_vendedores = []
    vendas = []
    vendedores_resultado = []

    # Para cada unidade extraia o maior vendedor e adiciona em uma lista
    for unidade in unidades:
        df_unidade = df[df['Filial'] == unidade]
        top_vendedores.append(sorted([(df_unidade[df_unidade['usuario'] == vendedor].shape[0], vendedor) for vendedor in vendedores], key=lambda x: -x[0])[0])

    # Separa os dados dos vendedores para a criação de um dataframe
    usuarios = [vendedor[1] for vendedor in top_vendedores]
    vendas = [vendedor[0] for vendedor in top_vendedores]
    vendedores_resultado = [df[df['usuario'] == vendedor[1]]['nome'].unique()[0] for vendedor in top_vendedores]

    resultado = {
        'Nome' : vendedores_resultado,
        'Usuário' : usuarios,
        'Total de Vendas' : vendas,
        'Unidade' : unidades
    }

    df_resultado = pd.DataFrame(resultado)

    return df_resultado

In [113]:
top_vendedores_todas_unidades(df_questao_1)

         Nome  Usuário  Total de Vendas              Unidade
0      Marina   466205               78  Loja Armando Mendes
1  Alessandra   465620               93           Loja Manoa
2     Giselle   842680               54     Loja Cachoerinha

## Segunda Consulta: venda por vendedor(nome)

Abordagem 1: Total de vendas por vendedor. A consulta será feita por nome, porém assumindo que há vendedores com nomes repetidos e que possuem usuários diferentes,
será feita uma lista com o total de vendas de cada vendedor com o nome solicitado que possui um usuário diferente.

Abordagem 2: Vendas feitas por vendedores com o nome solicitado

### Abordagem 1

In [150]:
def consulta_vendedor(df, vendedor_procurado):
    """ Função que busca o total de vendas feitas por um vendedor. A busca é feita por nome.

    Parâmetros
    -------------
    df : pandas.DataFrame
        Dataframe com os dados dos vendedores
    
    vendedor_procurado : str
        Nome do vendedor a ser procurado
    
    Retorna
    -------------
    df_total_vendas : pandas.DataFrame
        Dataframe com nome, usuário, total de vendas de todos os vendedores com o nome buscado.
    """

    vendedores = df[df['nome'] == vendedor_procurado]['usuario'].unique()
    vendas_vendedor = [(df[df['usuario'] == vendedor].shape[0], vendedor) for vendedor in vendedores]
    total_vendas = [x[0] for x in vendas_vendedor]
    vendedor = [x[1] for x in vendas_vendedor]
    nome = [vendedor_procurado for x in vendas_vendedor]

    dicionario = {
        'Usuario' : vendedor,
        'Nome' : nome ,
        'Total de Vendas' : total_vendas
        
    }

    df_total_vendas = pd.DataFrame(dicionario)

    return df_total_vendas

In [157]:
# ADICIONE AQUI O VENDEDOR QUE DESEJA PROCURAR
vendedor_procurado = 'Daniel'

In [152]:
consulta_vendedor(df_questao_1, vendedor_procurado)

    Usuario    Nome  Total de Vendas
0       295  Daniel                3
1     30646  Daniel                3
2     35553  Daniel                1
3     40859  Daniel                1
4     56424  Daniel                9
5     66657  Daniel               12
6    114728  Daniel                3
7    139130  Daniel                1
8    219436  Daniel                3
9    285290  Daniel                6
10   287073  Daniel                6
11   300326  Daniel                2
12   597541  Daniel                1
13   617967  Daniel                1
14   637896  Daniel                7
15   654863  Daniel               17
16   658588  Daniel                1
17   663398  Daniel                1
18   686130  Daniel                1
19   702315  Daniel                8
20   721483  Daniel               12
21   731584  Daniel                1
22   834414  Daniel                2
23   916961  Daniel               25
24   929262  Daniel                2
25   961503  Daniel                2

### Abordagem 2

In [143]:
def consulta_vendas_por_vendedor(df, vendedor_procurado):
    """ Função retorna todas as vendas executadas por vendedores que possuem o nome igual a vendedor_procurado.

    Parâmetros
    -------------
    df : pandas.DataFrame
        Dataframe com os dados dos vendedores
    
    vendedor_procurado : str
        Nome do vendedor a ser procurado
    
    Retorna
    -------------
    pandas.DataFrame
        Dataframe com todas as vendas executadas pelos vendedores com nome igual a vendedor_procurado.
    """

    return df[df['nome'] == vendedor_procurado]

In [158]:
# ADICIONE AQUI O VENDEDOR QUE DESEJA PROCURAR
vendedor_procurado = 'Simone'

In [146]:
consulta_vendas_por_vendedor(df_questao_1, vendedor_procurado)

,usuario,nome,dados,Filial,data_compra,valor_compra,Imposto,Informado sobre imposto?
num_compra,,,,,,,,
24271713,475023,Simone,12,Loja Manoa,2019-06-21 21:22:19,R$113.90,R$2.30,Sim
24717114,475023,Simone,12,Loja Manoa,2019-01-01 18:53:15,R$49.19,R$0.99,Sim
24717268,475023,Simone,12,Loja Manoa,2019-01-01 18:55:19,R$135.74,R$2.74,Sim
24787051,642267,Simone,12,Loja Manoa,2019-01-03 12:27:04,R$561.98,R$11.33,Sim
21859088,690423,Simone,12,Loja Cachoerinha,2019-05-01 14:01:55,R$139.60,R$2.82,Sim

## Terceira Consulta: produto mais vendido

Ranking dos produtos mais vendidos, com a quantidade vendida e o valor total vendido

In [147]:
def preco_para_int(df, coluna):
    """ Função que transforma uma coluna que possui preços com os caractéres 'R$' em uma coluna de inteiros.

    Parâmetros
    -------------
    df : pandas.DataFrame
        Dataframe com a coluna de preços
    
    coluna : str
        Coluna a ser modificada
    
    Retorna
    -------------
    df : pandas.DataFrame
        Dataframe com a coluna de preços em formato int.
    """

    df[coluna] = df[coluna].replace('[R\$\s]', '', regex=True).astype(float)
    return df

In [153]:
def top_produtos(df):
    """ Função que retorna um ranking com os produtos mais vendidos no conjunto de dados.

    Parâmetros
    -------------
    df : pandas.DataFrame
        Dataframe com os dados dos produtos vendidos
    
    Retorna
    -------------
    df_top_produtos : pandas.DataFrame
        Dataframe ranking dos produtos mais vendidos.
    """

    produtos = df['produto'].unique()

    total_produto = []

    for produto in produtos:
        total_produto.append((df[df['produto'] == produto]['quantidade'].sum(), 
                                produto, 
                                df[df['produto'] == produto]['valor_total'].sum()))

    total_produto = sorted(total_produto, key= lambda x: -x[0])

    vendas = []
    top_produtos = []
    valor_total = []

    for tup in total_produto:
        vendas.append(tup[0])
        top_produtos.append(tup[1])
        valor_total.append(tup[2])

    dic = {
        'Produto' : top_produtos,
        'Total de Vendas': vendas,
        'Valor total' : valor_total
    }

    df_top_produtos = pd.DataFrame(dic, index=range(1,len(top_produtos)+1))

    return df_top_produtos

In [154]:
df = preco_para_int(df_questao_2, 'valor_total')
top_produtos(df)

        Produto  Total de Vendas  Valor total
1       Açaí 1L              788      7260.93
2  Açaí 1L Zero              485      3175.78